@{
    Layout = null;
}

@Scripts.Render("~/Scripts/sidebar.js")

<script id="treeview-template" type="text/kendo-ui-template">
    <div >#: item.text #</div>     
    <div style="display:inline"> T:#: item.number #</div> 
    <div style="margin-left:8px;display:inline"> A:#: item.Active #</div>
    <div  style="margin-left:8px;display:inline"> D:#: item.Disable #</div> 
    
</script>

<aside class="main-sidebar">
    <div class="content">
        <div class="col-md-6">
        <span class="new-btn new-@(ViewBag.Title)"style="font-size:14px !important;padding-left:0px !important ">@(ViewBag.Title)</span>
       </div>
        <div class="col-md-6">
            <a class="new-btn" href="/Home/MailBoxFolders" style="font-size:14px !important;padding-left:0px !important">Folder</a>
        </div>
        <div class="col-md-12 " style="padding:0px !important">
        @(Html.Kendo().TreeView()
            .Name("navigationTreeView")
            .DragAndDrop(true)
            .Events(e => e.Select("selectCategory"))
            .TemplateId("treeview-template")
        )
         </div>
    </div>
    @Html.Partial("SidebarFooter")
</aside>