@{
    Layout = null;
}

@Scripts.Render("~/Scripts/sidebar.js")

<script id="treeview-template" type="text/kendo-ui-template">
    <div >#: item.text #</div>     
    <div style="display:inline"> T:#: item.number #</div> 
    <div style="margin-left:8px;display:inline"> A:#: item.Active #</div>
    <div  style="margin-left:8px;display:inline"> D:#: item.Disable #</div> 
    
</script>

<aside class="main-sidebar">
    <div class="content">
        <span class="new-btn new-@(ViewBag.Title)">New @(ViewBag.Title)</span>
        @(Html.Kendo().TreeView()
            .Name("navigationTreeView")
            .Events(e => e.Select("selectCategory"))
            .TemplateId("treeview-template")
        )
    </div>
    @Html.Partial("SidebarFooter")
</aside>